*.ods
*.png
*.ipynb_checkpoints/
__pycache__/
notes/
other/
backup/
old/
notes.md
# These files are redundant since they are consolidated into one, and otherwise take too much space
*.pop_*

# WIP items:

analysis/generations/
analysis/pathway-identification.ipynb
analysis/pathway-properties/
cases/extract_models.m
cases/create_id2name
cases/create_id2name.m

analysis/native-aerobic-60h/
analysis/native-aerobic-red-60h/

analysis/native-arabinose/
analysis/native-galactose/
analysis/native-mannose/
analysis/native-xylose/
analysis/overall-sugars/

benchmark/gem-model-1h/.gitignore
cases/aerobic_curation/
cases/create_partitions.sh
cases/create_sugars.sh
cases/ecoli-native-aerobic-matlab-red/
cases/ecoli-native-aerobic-red/
cases/ecoli-native-matlab/models/
cases/generate_ecoli-native-aerobic-red.sh

cases/native-arabinose-matlab/
cases/native-arabinose/
cases/native-galactose-matlab/
cases/native-galactose/
cases/native-mannose-matlab/
cases/native-mannose/
cases/native-xylose-matlab/
cases/native-xylose/

cases/partition_1_a-matlab/
cases/partition_1_a/
cases/partition_1_b-matlab/
cases/partition_1_b/
cases/partition_2_a-matlab/
cases/partition_2_a/
cases/partition_2_b-matlab/
cases/partition_2_b/
cases/partition_3_a-matlab/
cases/partition_3_a/
cases/partition_3_b-matlab/
cases/partition_3_b/

analysis/unknown-modules/

cases/ctherm-native-matlab/

runs/create_input_native-aerobic-1.sh
runs/create_input_native-aerobic-2.sh
runs/create_input_native-aerobic-red.sh
runs/native-aerobic-1/
runs/native-aerobic-2/
runs/native-aerobic-60h/
runs/native-aerobic-red-60h/
runs/native-aerobic/
runs/native-arabinose/
runs/native-galactose/
runs/native-mannose/
runs/native-xylose/
runs/partitions.zip

