*.mat filter=lfs diff=lfs merge=lfs -text
*.png -crlf -diff -merge
*.svg -crlf -diff -merge
*.svgz -crlf -diff -merge
*.pop* filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
