appdirs==1.4.3
backcall==0.1.0
cobra==0.17.1
cycler==0.10.0
decorator==4.4.1
depinfo==1.5.1
future==0.18.2
ipykernel==5.1.3
ipython==7.10.1
ipython-genutils==0.2.0
jedi==0.15.1
jupyter-client==5.3.4
jupyter-core==4.6.1
kiwisolver==1.1.0
matplotlib==3.1.2
mpmath==1.1.0
nose==1.3.7
numpy==1.17.4
optlang==1.4.4
pandas==0.25.3
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pipdeptree==0.13.2
ply==3.11
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.5.2
Pyomo==5.6.8
pyparsing==2.4.5
python-dateutil==2.8.1
python-libsbml-experimental==5.18.0
pytz==2019.3
PyUtilib==5.7.3
pyzmq==18.1.1
ruamel.yaml==0.16.5
scipy==1.3.3
seaborn==0.9.0
six==1.13.0
swiglpk==4.65.0
sympy==1.4
tornado==6.0.3
traitlets==4.3.3
wcwidth==0.1.7
